<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LandAreaCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>078EF0091C038F0A00D077AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078EF01D1C038F0B00D077AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078EF0281C038F0B00D077AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
